Package: com.dgh0st.darkauxo
Name: DarkAuxo(CC)
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Makes Auxo LE dark.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
